html{
	overflow-x: hidden;
	overflow-y: scroll;
}
body {
	width: 100%;
	margin:0;
	padding:0;
	height:100vh;
	background-color: #ceb9c0;
}
header{
	background-color: #3c1731;
	height: 18%;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-left: 5%;
	height: 3%;
	bottom: 0;
	background-color: #3c1731;
	color: #e9e7ea;
	opacity: .5;
	
}
nav{
		background-color: #fbf8f8;
		margin: 0; 
		padding: 0;
}
ul{
			margin:0;
}
img{ 
	padding: 2%;
	width: 100%; 
}
iframe{
	max-width: 100%;
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}
#comment{
	height: 100px;
	padding-bottom: 2%;
	margin-bottom: 3vh;
}
.descrip{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	padding:1%;
	width: 10%;
	float: left;
	font-family: 'Lato', sans-serif;
	color: #3c1731;
}
.fr{
	position: relative;
  	width: 100%;
  	height: 0;
  	padding-bottom: 56.21%;
}
.navli{
		display: inline-block;
		list-style-type: none;
		padding: 10px 20px;
}
.inf{
		margin-top: 2%;	
		margin-left: 10%; 
		margin-bottom: 5%;
		width: 35%;
		float:left;
		font-family: 'Lato', sans-serif;
		color: #3c1731;
}
.content{
		width: 100%;
		padding: 2%;
		font-size: 110%;
}
.up{
	cursor: pointer;
	border-radius: 100px;
	width: 20%;
	float: right;
}
.stripe{
	width: 35px;
    height: 5px;
    background-color: #3c1731;
    margin: 6px 0;
}
.icon{
	height: 3%;
	width: 3%;
	padding: 0;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.par{
		text-align: left; 
		margin-right: 5%;
		font-weight: bold; 
		font-size: 160%;
}
.imgwr{
		float:right;
		width:30%;
		margin-right: 10%;
		margin-top: 1%;
}
.photo{
	padding: 0;
	border-radius: 40px;
}
.imgskills{
	cursor: pointer;
	width: 15%;
	padding: 1%;
	display: inline-block;
}
.navli div{
	text-decoration: none;
	font-family: 'Questrial', sans-serif;
	color: #3c1731; 
	cursor: pointer;
}
.navli div:hover{ 
	text-shadow:0px 2px 2px #1C1C1C;
}
.content a{
	color: #3c1731;
}
.hdr{
		display:none;
		font-family: 'Questrial', sans-serif;
		font-size: 380%;
		color: #c4a8aa;
		text-align: center;
		position:relative;
		top:30%;
		font-variant:small-caps;
}

#inputoffer{
	width: 20%;
	font-family: 'Lato', sans-serif;
	color: #3c1731;
	margin-right: 5%;
	margin-top: 2%;
	padding: 2%;
	float: left;
	background-color: #e9e7ea;
	border: 2px solid #3c1731;
}
#sandwich{
	display: none;
}
#about,#cont, #skills{
	display: none;
}
.btn{
	margin: 1%;
	width: 50%;
    height: 5vh;
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #fbf8f8;
	background-color: #5d374f;
	border:solid #3c1731;
	border-radius: 10px;
	font-size: 100%;
	cursor: pointer;

}
.errinp{
	border : 1px solid #ff0000;
}
.correctinp{
	border : 1px solid #569b44;
}
.err{
	margin: 1%;
	height: 3vh;
	font-size: 80%;
	color: #8B0000;
	font-family: 'Lato', sans-serif;
	float: none;
	
}
.fileloaded{
	margin: 1%;
	height: 3vh;
	font-size: 80%;
	font-family: 'Lato', sans-serif;
	float: none;
	color:  #006400;
}
.fileUpload {
	margin: 1%;
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     overflow: hidden; /* Все что выходит за пределы - скрываем */
     width: 50%;
     height: 5vh;
     font-size: 100%;
     font-family: 'Lato', sans-serif;
	color: #fbf8f8;
	background-color: #5d374f;
	border:solid #3c1731;
	border-radius: 10px;
     text-align: center;
}

.fileUpload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.fileUpload label {
     /* Растягиваем label на всю возможную площадь блока .file-upload */
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.fileUpload span {
     line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}



@media (max-width: 480px)
  and (orientation: portrait)
  {	

  	header{
  		width: 100%;
  	}
  	html{
	overflow-x: hidden;
	}
  	nav ul{
  		display: none;
  		border-top: solid #3c1731;
  	}
  	nav{
  		width: 100%;
  	}
  	img{ 
	padding: 0%;
	width: 100%; 
	}
	.imgskills{
	cursor: pointer;
	margin-left: 5%;
	width: 70%;
	padding: 2%;
	display: block;
}
	.icon{
	height: 7%;
	width: 7%;
	padding: 0;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
  	.inf{
  		float: none;
		margin-left: 5%;
		margin-right: 3%; 
		margin-bottom: 2%;
		width: 85%;
	}
	.par{
		text-align: left; 
		font-size: 160%;
	}
	.navli{
  		display: table-row;
  	}
  	.content{
  		width: 80%;
  		float: none;
		padding: 1%;
		/*margin-top: 1%;
		margin-bottom: 1%;
		margin-right: 1%;
		margin-left: 0%;*/
	}
	.imgwr{
		float:none;
		width:80%;
		margin-top: 2%;
		margin-bottom: 5%;
		margin-right: 10%;
		margin-left: 5%;

	}
	#inputoffer{
	margin: 1%;
	width: 90%;
	padding: 3%;
	float: none;
}
	#sandwich{
  		display: inline-block;
  		margin-left: 5%;
  		padding: 1%;
  	}
  	.hdr{	
  			font-size: 200%;
	}
  	#shgi,#shabout,#shsk,#shcont{
  		font-size: 130%;
  		padding: 3%;
  		width: 100%;
  	}
  	#cont{
  		margin:5%;
  	}
}
@media (max-width: 812px)
  and (orientation: landscape){
  	footer{
  		height: 6%;
  	}
  	.content a{
	
	}
  	.inf{
		margin-left: 5%; 
		margin-right:  5%; 
		margin-bottom: 2%;
		width: 90%;
	}
	.par{
		text-align: left; 
		font-size: 160%;
	}
  	.content{
		padding: 1%;
		margin-top: 1%;
		margin-bottom: 1%;
		margin-right: 10%;
		margin-left: 0%;
	}
	.imgwr{
		width:50%;
		padding: 0%;
		margin-top: 0%;
		margin-bottom: 5%;
		margin-right: 25%;
		margin-left: 0%;
	}
	.hdr{
  		font-size: 120%;
  		margin-bottom: 5%;
  	}
  }
  @media (min-width: 768px)
  	and (max-width: 959px)
  	and (orientation:portrait){
  		nav{
			height: 5%;
		}
		.navli{
			margin-top: 1%;
		}
		.navli div{
			font-size: 120%;
		}
		.inf{
			padding: 2%;
			margin-right: 5%;
			margin-left: 5%; 
			margin-bottom: 2%;
			width: 90%;
		}
		.par{
			text-align: left; 
			font-size: 190%;
		}
  		.content{
			padding: 1%;
			margin-top: 1%;
			margin-bottom: 1%;
			margin-right: 10%;
			margin-left: 0%;
			font-size: 150%;
		}
		.imgwr{
			width:70%;
			padding: 0%;
			margin-top: 0%;
			margin-bottom: 5%;
			margin-right: 16%;
			margin-left: 4%;
		}
		.hdr{	
			font-size: 280%;
		}
		#cont{
			margin-top: 4%;
  			margin-left:8%;
  		}
}
@media (min-width: 960px)
  	and (max-width: 1024px)
  	and (orientation:landscape){
  		header{
  			height: 20%;
  		}
  		footer{
  			font-size: 120%;
  		}
  		nav{
			height: 8%;
		}
		.navli{
			margin-top: 1%;
		}
		.navli div{
			font-size: 140%;
		}
		.inf{
			padding: 2%;
			margin-right: 5%;
			margin-left: 5%; 
			margin-bottom: 1%;
			width: 90%;
		}
		.par{
			text-align: left; 
			font-size: 210%;
		}
  		.content{
			padding: 1%;
			margin-top: 1%;
			margin-bottom: 1%;
			margin-right: 8%;
			margin-left: 0%;
			font-size: 170%;
		}
		.imgwr{
			width:70%;
			padding: 0%;
			margin-top: 0%;
			margin-bottom: 5%;
			margin-right: 16%;
			margin-left: 4%;
		}
		.hdr{	
			font-size: 300%;
		}
		#cont{
			margin-top: 4%;
  			margin-left:8%;
  		}
}
@media (min-width: 	3656px)
  	and (max-width: 5120px){
  		header{
  			height: 18%;
  		}
  		nav{
			height: 10%;
		}
		footer{
			font-size: 3vh;
			padding-left: 10%;
			height: 5%;
	
		}
		.navli{
			margin-top: 1%;
			margin-left: 5%;
			margin-right: 5%;
		}
		.navli div{
			font-size: 5vh;
		}
		.inf{
			height: 100%;
			padding: 2%;
			margin-right: 0%;
			margin-left: 5%; 
			margin-bottom: 1%;
			width: 50%;
			float: left;
		}
		.par{
			text-align: left; 
			font-size: 6vh;
		}
  		.content{
			padding: 1%;
			margin-top: 1%;
			margin-bottom: 1%;
			margin-right: 8%;
			margin-left: 0%;
			font-size: 4vh;
		}
		.imgwr{
			width:30%;
			padding: 0%;
			margin-top: 0%;
			margin-bottom: 5%;
			margin-right: 5%;
			margin-left: 4%;
		}
  		.hdr{	
			font-size: 8vh;
		}
		#cont{
			margin-top: 2%;
  			margin-left:8%;
  		}
  		#favsh .inf .content{
  			margin-top: 0%;
  		}
  		#favsh >.inf{
  			float: none;
  			width: 100%;
  			padding: 0%;
  		}


  		
}


